body {
  margin: 0px;
}
.header {
  height: 150px;
  width: 100%;
  background-color: peachpuff;
}
h1 {
  display: inline;
}
.jumbotron {
  background-color:black;
  opacity: .2;
  height: 200px;
}
.bg {
  background-image: url("../img/concrete_seamless.png");
  height: 200px;
}
img {
  height: 75px;
  filter: gray; /* for IE */
  filter: grayscale(1); /*fire fox*/
  -webkit-filter: grayscale(1); /* chrome */  
}
/*this shows color and title of tool on hover*/
.html5 {
  display: inline-block;
}
.html5:hover img {
  height: 75px;
  -webkit-filter: grayscale(0);
  filter: none;
}
.html5:hover  .title {
  visibility: visible;
}
.title {
  visibility: hidden;
}
